* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: grey;
}
header div#website-title {
  color: yellow;
  font-size: 1.1rem;
  padding: 0.3rem;
  height: auto;
}
main {
  background-color: rgb(252, 7, 7);
  padding: 30px 25px;
  text-align: left;
  min-height: 80vh;
}
main section#introduction-text {
  color: white;
  font-size: 1rem;
}
main section#motivation-note {
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  background-color: grey;
  padding: 0.2rem;
  height: auto;
}
footer div p {
  font-size: 0.9rem;
}
