main {
  background-color: rgb(24, 26, 21);
  padding: 30px 25px;
  text-align: left;
  min-height: 90vh;
  color: rgb(0, 0, 0);
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px 10px;
  gap: 10px 5px;
}
.contact-type {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
}
.contact-type-picture-container {
  max-width: 180px;
  @media (min-width: 800px) {
    max-width: 300px;
  }
}
.contact-type-picture {
  display: block; /* to avoid the empty space under images */
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contact-type-info {
  background-color: rgb(138, 132, 132);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contact-type-name {
  padding: 5px 10px;
  text-align: left;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1rem;
}
.contact-type-name-value {
  padding: 5px 10px;
  text-align: left;
  color: rgb(30, 255, 0);
  font-weight: 500;
  font-size: 0.9rem;
}

footer {
  background-color: grey;

  height: auto;
}
footer div p {
  font-size: 0.9rem;
  padding: 0.2rem;
  color: rgb(0, 0, 0);
}
