main {
  background-color: rgb(24, 26, 21);
  padding: 30px 25px;
  text-align: left;
  min-height: 90vh;
  color: white;
}

footer {
  background-color: grey;

  height: auto;
}
footer div p {
  font-size: 0.9rem;
  padding: 0.2rem;
  color: rgb(255, 254, 254);
}
